backend.tf
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate*
examples/custom-error-response-and-bucket/.terraform.lock.hcl
examples/custom-error-response-and-bucket/.pluralith/